# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv

# Secrets e ambiente
.env
jupyterhub_cookie_secret

# JupyterHub runtime e estado
*.sqlite
*.pid
var/db/users.json
var/db/scripts/
var/run/

# Logs
logs/
